
Aula 1 - Semana do Python na Prática - Primeiro projeto completo em Python.mp4
Aula 2 - Semana do Python na Prática - Como automatizar tarefas no Python.mp4
Semana Python na Prática - Como instalar e configurar o seu ambiente de programação.mp4
